<div id='addForm'>
  <form action="https://<%= request.host %>/product" method="POST" enctype="multipart/form-data">
    <input type="hidden" value="<%= @customer.id %>" name="customer">
    <input type="hidden" value="<%= @product.id %>" name="product">
    <h2 class='text-center'>Edit product</h2>
    Title:<br>
    <input type='text' name='title' value="<%= @product.title %>">
    <br>
    Description:<br>
    <input type='text' name='body_html' value="<%= @product.body_html %>" class="editable">
    <div class="files">
      <input type="file" name="file">
      <button id="addFileField">+</button>
    </div>
    <br><br>
    <input type="submit" value="Save">
  </form>
</div>
