<h2 align="center">Hello, <%= @customer.first_name %>! </h2>
<div id='productsList'>
<button id='addBtn'>Add new</button>
  <table>
    <thead>
      <tr>
        <td>image</td>
        <td>title</td>
        <td>creation date</td>
        <td>action</td>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><img src=<%=  %>></td>
          <td><%= product.title %></td>
          <td><%= product.created_at %></td>
          <td><button class='editBtn' data-id="<%= product.id %>">edit</button>
          <button class='delBtn' data-id="<%= product.id %>">delete</button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div id='addForm' style="display:none;">
  <form action="https://<%= request.host %>/product" method="POST" enctype="multipart/form-data">
    <input type="hidden" value="<%= @customer.id %>" name="customer">
    <h2 class='text-center'>Add product</h2>
    Title:<br>
    <input type='text' name='title'>
    <br>
    Description:<br>
    <input type='text' name='body_html'>
    <div class="files">
      <input type="file" name="file">
      <button class="addFileField">+</button>
    </div>
    <br><br>
    <input type="submit" value="Save">
  </form>
</div>
